.container {
    width: 75%;
    margin: auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.image-container {
    width: 25%;
}

.text-container {
    width: 75%;
    border: solid;
}

#article-source {
    border: solid;
}

#article-title {
    border: solid;
}

#article-description {
    border: solid;
}

.article-footer {
    border: solid;
    align-items: flex-end;
}